<h1>Tasks</h1>

<ul class="nav nav-pills">
  <li class="<%='active' if params[:sort] == 'name'%>"><%= link_to "Name", tasks_path(sort: "name") %></li>
  <li class="<%='active' if params[:sort] == 'created_at'%>"><%= link_to "Created At", tasks_path(sort: "created_at") %></li>
</ul>
<br>

<ul class='list-group'>
  <% @tasks.each do |task| %>
    <li data-id="<%= task.id %>" class='list-group-item clearfix <%= 'strikeout' if task.completed %>'>
      <%= task.name %>
      <%= time_ago_in_words task.created_at %> ago
      <%= form_for task do |f| %>
        <%= f.check_box :completed, class: 'task-checkbox' %>
      <% end %>
    </li>
  <% end %>
</ul>

<div class='jumbotron'>
  <h3>New Task</h3>
  <%= simple_form_for @task do |form| %>
    <%= form.input :name, label: false %>
    <%= form.submit "Add", class: 'btn btn-primary' %>
  <% end %>
</div>